body {
    padding: 0;
    margin: 0;
    font-family: Arial, Sans-Serif
}

ul {
    font-size: 60pt;
    padding:0;
    margin: 0;
    list-style: none;
}

li {
    padding:1px 5px;
    margin: 5px;
    list-style: none;
	text-align:center;
}

#builds {
	position:absolute; 
	top:50%; 
	width: 100%; 
	height:240px; 
	margin-top:-120px; 
	overflow:auto; /* negative half of the height */
}

#builds .blue,
#builds .disabled {
    display: none;
}

.blue {
    background-color: Green;
}

.red,
.aborted {
    background-color: Red;
}

.unknown,
.disabled {
    background-color: Gray;
}

.blue_anime,
.red_anime {
    background-color: Yellow;
}

body.error { 
	background: black url("../img/DoubleFacePalm.jpg") no-repeat fixed center;
	background-size: 80%;
}