body
{
    font-size: 36pt;
}

ul, li
{
    padding:0;
    margin: 0;
    list-style: none;
}

.success
{
    display: none;
    background-color: Green;
}

.fail
{
    background-color: Red;
}

.unknown
{
    background-color: Gray;
}