body
{
    padding: 0;
    margin: 0;
    font-family: Arial, Sans-Serif
}

ul
{
    font-size: 60pt;
    padding:0;
    margin: 0;
    list-style: none;
}

li
{
    padding:1px 5px;
    margin: 5px;
    list-style: none;
}

#builds .success,
#builds .blue,
#builds .disabled
{
    display: none;
}

.success,
.blue
{
    background-color: Green;
}

.fail,
.red
{
    background-color: Red;
}

.unknown,
.disabled
{
    background-color: Gray;
}

.building,
.blue_anime,
.red_anime
{
    background-color: Yellow;
}

.buildNumber
{
    font-size: 36pt;
    background-color: Black;
    color: White;
    padding: 5px;
    vertical-align: middle;
}